<extend name="Public:layout" />
<block name="main-content">
<div class="g-flow"> <b class="b-20"></b>
  <div class="g-logout f-bg">
    <div class="m-logcnt f-pr"> <b class="b-30"></b><b class="b-30"></b>
      <div class="txt">
		<span >已经成功退出登录<span>
	  </div>
      <p class="sug f-fs0">有意见或建议？<a href="__APP__/User/advice" target="_blank">反馈给我们<span class="f-ib feedicon"></span></a></p>
      <a class="reLogin btn" id="j-reLogin" style="color:#26A266" href="__APP__/Login/index">重新登录</a>
      <div class="f-pa toiPad">
        <p>云课堂App</p>
        <a href="#" target="_blank">查看详情&gt;&gt;<br/><img src="__PUBLIC__/Home/imgs/loginout(1).png"></a>
		
	  </div>
    </div>
    <div class="m-logbot"> <span class="itm f-fs0" id="j-motto">行动是通往知识的唯一道路。    ——   萧伯纳</span> </div>
  </div>
</div>
</block>