<extend name="Public:layout"/>
<block name="main-content">

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="__APP__">后台主页</a>
							</li>

							<li>
								<a href="#">管理员管理</a>
							</li>
							<li class="active">添加管理员</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								管理员管理
								<small>
									<i class="icon-double-angle-right"></i>
									添加管理员
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form class="form-horizontal" role="form" method="post" action="__ACTION__" enctype="multipart/form-data">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> 管理员名称</label>

										<div class="col-sm-9">
											<input  type="text"  name="name" value="{$admin.name}" class="col-xs-10 col-sm-5" id="form-input-readonly" />
											<input  type="hidden"  name="id" value="{$admin.id}" class="col-xs-10 col-sm-5" id="form-input-readonly" />
											
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">头像</label>
									  
										<div class="col-sm-9">
											<input  type="file"  name="photo" class="col-xs-10 col-sm-5" id="form-input-readonly" />
										</div>
										
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-2">管理组名</label>
									  
										<div class="col-sm-9">
											<select name="group_id">
											<option>__未选择__</option>
											<foreach name="groups" item="group">
												<option value="{$group.id}">{$group.title}</option>
											</foreach>
											</select>
										</div>
										
									</div>

									<div class="space-4"></div>

									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<input class="btn btn-info" type="submit" name="sub" value="确认添加"/>
												
										</div>
									</div>

									<div class="hr hr-24"></div>

										
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</form>
</block>