<extend name="Public:layout" />
<block name="main-content">
<div id="g-wrapper">
  <div class="g-head">
    <div class="m-title">
      <h2>“互联网 + ”时代的新机遇</h2>
      <h1>热门互联网职业技能培训课程体系</h1>
      <p>网易云课堂联合行业内各领域知名专家和机构精心打造，内容全面、专业。是互联网人最佳的学习提升方案！</p>
    </div>
   </div>
  <div class="g-teachers-intro">
    <h2>部分专家讲师介绍</h2>
    <div id="j-userSayNode" class="usersay">
      <div class="m-userSayList f-pr">
        <div class="j-leftItm changeItm left f-cb disabled" id="auto-id-1450263211610"></div>
        <div class="j-content content f-cb">
          <div class="container-intro"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/6630865455560746015.jpg" alt="">
            <div class="name">王程远</div>
            </a>
            <div class="title">阿里巴巴资深产品经理</div>
            <div class="text-intro">
              <p>阿里巴巴资深产品经理，现任淘宝-闲鱼产品经理，是淘宝鱼雨产品的核心设计者之一，探索C2C市场交易效率和交易社区。曾任淘宝规则产品经理，负责设计和优化规则相关产品；淘宝共享业务平台产品经理，尝试基于商品和交易平台的产品创新；手机淘宝产品经理：参与营销活动产品和新产品设计。</p>
              <p></p>
            </div>
          </div>
          <div class="container-intro"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/978407019064492553.jpg" alt="">
            <div class="name">李建忠</div>
            </a>
            <div class="title">Boolan创始人，知名技术专家</div>
            <div class="text-intro">
              <p><span style="font-size: 14px;">国内知名技术专家，技术未来主义者。 对面向对象语言与机制有深入研究，精于设计模式、产品创新。连续创业者，曾创办祝成科技，SlideIdea。曾主讲网络课程《设计模式纵横谈》影响广泛。</span></p>
            </div>
          </div>
          <div class="container-intro"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/6630215644188125840.jpg" alt="">
            <div class="name">郝培强</div>
            </a>
            <div class="title">知名iOS技术专家</div>
            <div class="text-intro">
              <p><span style="font-size: 14px;">郝培强，泰尼网络科技CEO，网名Tinyfool，资深果粉，知名iOS技术专家， OurCoders.com站长。曾作为主程发布多款知名iOS应用，如：有道词典iPhone版、盛大云中书城iPhone/iPad版等。对技术研习有独到见解，曾发表演讲《学习曲线与Hacking大脑》影响广泛。</span></p>
            </div>
          </div>
        </div>
        <div class="j-rightItm changeItm right f-cb" id="auto-id-1450263211611"></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div class="g-grid">
  <div class="g-grid1" id="g-grid1">
    <div class="g-center">
      <h3>产品规划与管理</h3>
      <div>产品经理是这项工作的主要角色，负责调查并根据用户的需求，确定开发何种产品，选择何种技术、商业模式等。以及根据产品的生命周期，协调研发、营销、运营等，确定和组织实施相应的产品策略等一系列相关的产品管理活动。</div>
      <div class="logo"></div>
      <div id="wrap1">
        <div id="productManager" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(1).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">产品经理</a></h2>
            <h1>¥1950.00<span>¥2600.00</span></h1>
            <div class="description">结合前两届学员的综合反馈，课程再次升级！联合多位产品大牛打磨研究，涵盖产品经理核心技能矩阵：产品管理、商业模式、用户体验到敏捷方法、创新策略，全面掌握一个优秀产品经理所需技能。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-grid2" id="g-grid2">
    <div class="g-center">
      <h3>Web前端开发、移动端开发</h3>
      <div>Web前端开发是一项很特殊的工作，涵盖的知识面非常广，既有具体的技术，又有抽象的理念。简单地说，主要职能就是把网站的界面更好地呈现给用户。而移动端开发则包含针对于iOS、Android等移动操作系统的应用程序和游戏界面开发。</div>
      <div class="logo"></div>
      <div id="wrap2">
        <div id="frontEnd" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(2).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">前端开发工程师</a></h2>
            <h1>¥1899.00<span>¥2200.00</span></h1>
            <div class="description">网易一线资深前端开发工程师倾情打造！助你完成普通程序员到优秀工程师的华丽升级！更有最高¥1999奖学金！考核未通过免费重修一次。付费后视频随时观看，永久有效。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
        <div id="mobile" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(3).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">移动开发工程师</a></h2>
            <h1>¥2092.00</h1>
            <div class="description">本微专业由HTML5与跨平台开发、Android开发、iOS开发三个模块（含实验）组成；适合初学者全面体验，快速入门。微专业学习者将能够熟练使用当前流行的工具，开发出以用户为中心的移动应用。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
        <div id="iOS" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(4).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">Android开发工程师</a></h2>
            <h1>¥1950.00<span>¥2600.00</span></h1>
            <div class="description">结合前两届学员的综合反馈，课程再次升级！联合多位Android技术大牛打造，深入学习Android应用开发、性能优化、以及高级进阶所需要的核心技术，掌握一个Android应用从无到有的构建过程。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
        <div id="Android" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(5).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">iOS开发工程师</a></h2>
            <h1>¥1950.00<span>¥2600.00</span></h1>
            <div class="description">结合前两届学员的综合反馈，课程再次升级！联合多位iOS技术大牛打磨研究，通过作业练习和项目实战，助力学员全面掌握一个iOS应用从无到有的构建过程、编码技巧和重点难点的攻克。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-grid3" id="g-grid3">
    <div class="g-center">
      <h3>后端开发</h3>
      <div>职能上，后端主要负责界面背后的功能。后端开发技术包括各种后台编程语言、相关技术与框架、数据库开发、Web安全等。后端开发更多的是与数据库进行交互，以处理相应的业务逻辑。需要考虑功能的实现、数据的存取、平台的稳定性与性能等。</div>
      <div class="logo"></div>
      <div id="wrap3">
        <div id="bigData" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(6).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">大数据工程师</a></h2>
            <h1>¥1399.00<span>¥1599.00</span></h1>
            <div class="description">本微专业由世界顶级行业专家主持，国际学术出版商Wiley开发，面向全球化需求。通过学习，您将帮助掌握大数据技术必备技能和核心技术，包括工具选择，存储、编程、处理和管理数据架构等。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
        <div id="CorCpp" class="g-class"> <a href="#" target="_blank"><span class="classImg"><img src="__PUBLIC__/Home/imgs/skill(7).png"></span></a>
          <div class="classDesc">
            <h2><a href="#" target="_blank">C++系统工程师</a></h2>
            <h1>¥1950.00<span>¥2600.00</span></h1>
            <div class="description">结合前两届学员的综合反馈，课程再次升级！联合多位C++技术大牛研究，精选五大系统级C++课程，通过实践训练，学员不仅掌握C++开发的关键技能，同时培养系统级工程师的思维方法和设计素养。</div>
            <div class="detail"><a href="#" target="_blank">查看详情</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="g-step">
    <h2 class="m-tit">互联网产品研发与运作流程</h2>
    <div class="s-bg"><img src="__PUBLIC__/Home/imgs/skill(8).png"></div>
  </div>
</div>
</block>