<extend name="Public:layout" />
<block name="main-content">
<div><img src="__PUBLIC__/Home/imgs//major_inter.png"></div>
<div class="u-mainTit">部分专家讲师介绍</div>
<!--     <div class="b-40"></div> <div class="b-40"></div> <h2 style="text-align: center; font-size:28px;">部分专家讲师介绍</h2> <div class="b-20"></div>-->
<div id="j-userSayNode" class="usersay">
  <div class="m-userSayList f-pr">
    <div class="j-leftItm changeItm left f-cb disabled" id="auto-id-1450263195702"></div>
    <div class="j-content content f-cb">
      <div class="container-intro"  style="color:#000">
	  <a href="#" target="_blank">
	  <img src="__PUBLIC__/Home/imgs/2445736072656098045.jpg" alt="">
        <div class="name"  style="color:#000">彭国军</div>
        </a>
        <div class="title">副教授，博士生导师</div>
        <div class="text-intro">
          <p>武汉大学计算机学院副教授，博士生导师，全国网络与信息安全防护峰会联合发起人、执行主席，中国网络空间安全协会（筹）竞评演练工作组成员；主要研究领域包括：恶意代码及可信软件等。主持国家自然科学基金等各类国家级、省部级及横向合作类信息安全科研项目20余项。获得高等教育国家级教学成果奖一等奖1次，湖北省高等学校教学成果奖一等奖1次，武汉大学优秀教学成果奖一等奖2次，以及武汉大学青年教师教学竞赛二等奖等；编写出版《恶意代码取证》（译著）、《计算机病毒分析与对抗》等著作。近年来个人指导本科生获全国大学生电子设计竞赛信息安全技术专题邀请赛一等奖1项、全国大学生信息安全竞赛一等奖3项，二等奖5项。</p>
          <p>个人页面：<a href="#"></a> </p>
          <p>微博：<a href="http://weibo.com/d202" _href="http://weibo.com/d202" _src="http://weibo.com/d202"></a></p>
        </div>
      </div>
      <div class="container-intro"  style="color:#000"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/1149262329927080756.jpg" alt="">
        <div class="name" style="color:#000">何钦铭</div>
        </a>
        <div class="title">教授</div>
        <div class="text-intro">
          <p>浙江大学计算机科学与技术学院教授，教育部大学计算机课程教学指导委员会副主任委员、浙江省高校计算机类专业教学指导委员会主任委员。主要研究方向为数据挖掘、虚拟计算系统技术，主讲“程序设计基础”、“数据结构基础”、“高级数据结构与算法分析”等课程。为国家精品课程与精品资源共享课程“程序设计基础”负责人、国家十一五及十二五规划教材“C语言程序设计”负责人。曾获国家优秀教学成果二等奖3项、浙江省优秀教学成果一等奖5项，以及霍英东优秀青年教师奖、宝钢优秀教师奖、浙江省高等学校教学名师等荣誉。</p>
          <p><br>
          </p>
        </div>
      </div>
      <div class="container-intro" style="color:#000"><a href="#" target="_blank"><img src="__PUBLIC__/Home/imgs/634163122546928642.jpg" alt="">
        <div class="name" style="color:#000">翁恺</div>
        </a>
        <div class="title">教师</div>
        <div class="text-intro">
          <p>计算机博士，浙江大学计算机学院教师，ACM-ICPC优秀教练奖得主，2011世界总决赛金牌教练。主要讲授包括C、C++、Java程序设计，程序设计语言原理，计算机体系结构，嵌入式系统等课程。</p>
          <p>专业方向为嵌入式操作系统和嵌入式系统应用，是国内Arduino和树莓派应用的鼓吹者，翻译出版了多本相关书籍，在创客界交友广泛。</p>
          <p>2004年前后的Java教学视频在网络上流传甚广，现在在网易云课堂 上开设有Java、C++、Arduino等多门课程。</p>
          <p>业余爱好无线电，1988年开始玩业余电台，电台呼号BA5AG，主要玩莫尔斯码、短波、数据通信和卫星通信。是浙大传统毅行的发起者和早期组织者之一。</p>
          <p><br>
          </p>
        </div>
      </div>
	  </div>
    <div class="j-rightItm changeItm right f-cb" id="auto-id-1450263195703"></div>
    <div></div>
  </div>
</div>
<div class="g-flow indicate">
  <div class="u-mainTit">请选择您感兴趣的岗位</div>
  <div id="j-smartSpec" style="margin:40px 0 80px 0;">
    <table class="m-spectable">
      <tbody>
        <tr>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">产品经理</div>
            <div class="f-icon icon-1025"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">网易云音乐、LOFTER、考拉海购、易信、邮箱等亿级产品的产品负责人亲授，只为打造国内顶尖产品经理课程。带你掌握从需求挖掘、产品设计到数据分析、产品运营的全部技能，帮你成为一个合格产品人</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">Java 开发工程师（Web方向）</div>
            <div class="f-icon icon-1023"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">聚焦Java 开发工程师（Web方向）必知必会的知识技能。既有系统的知识体系保证学生吸收，又有大量网易内部案例和实践，保证学生无缝对接企业需求。优秀学生还可获得工作推荐。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">产品经理</div>
            <div class="f-icon icon-1018"></div>
            <div class="org f-f0">极客班</div>
            <div class="f-pa des">
              <p class="cnt">结合前两届学员的综合反馈，课程再次升级！联合多位产品大牛打磨研究，涵盖产品经理核心技能矩阵：产品管理、商业模式、用户体验到敏捷方法、创新策略，全面掌握一个优秀产品经理所需技能。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">iOS开发工程师</div>
            <div class="f-icon icon-1019"></div>
            <div class="org f-f0">极客班</div>
            <div class="f-pa des">
              <p class="cnt">结合前两届学员的综合反馈，课程再次升级！联合多位iOS技术大牛打磨研究，通过作业练习和项目实战，助力学员全面掌握一个iOS应用从无到有的构建过程、编码技巧和重点难点的攻克。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
        </tr>
        <tr>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">C++系统工程师</div>
            <div class="f-icon icon-1020"></div>
            <div class="org f-f0">极客班</div>
            <div class="f-pa des">
              <p class="cnt">结合前两届学员的综合反馈，课程再次升级！联合多位C++技术大牛研究，精选五大系统级C++课程，通过实践训练，学员不仅掌握C++开发的关键技能，同时培养系统级工程师的思维方法和设计素养。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">Android开发工程师</div>
            <div class="f-icon icon-1021"></div>
            <div class="org f-f0">极客班</div>
            <div class="f-pa des">
              <p class="cnt">结合前两届学员的综合反馈，课程再次升级！联合多位Android技术大牛打造，深入学习Android应用开发、性能优化、以及高级进阶所需要的核心技术，掌握一个Android应用从无到有的构建过程。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">IT项目经理</div>
            <div class="f-icon icon-1016"></div>
            <div class="org f-f0">光环国际​</div>
            <div class="f-pa des">
              <p class="cnt">本微专业旨在帮助新手IT项目经理建立广阔的全局观和统筹协作意识，借助一系列核心方法和工具提升团队工作效率，最终成为一名被业务认可的卓越项目经理。【重要】2015年底前仅售999元！</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">自动化测试工程师</div>
            <div class="f-icon icon-1015"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">测试自动化是实现高效率软件测试的必由之路。加入自动化测试微专业，从开发者阶段的测试开始，逐步掌握Web自动化测试、移动App自动化测试，最终驾驭自动化测试框架的使用乃至设计和开发。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
        </tr>
        <tr>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">移动应用测试工程师</div>
            <div class="f-icon icon-1014"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">移动应用测试微专业集网易、支付宝资深测试工程师及著名高校一线教师，从基础理论到前沿实操，一站式掌握移动应用测试工程师必知必会全部技能！</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">MySQL数据库管理工程师</div>
            <div class="f-icon icon-1007"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">MySQL是互联网行业使用最广泛的关系型数据库，管理MySQL是互联网应用开发工程师和数据库管理员必知必会的技能。本微专业由网易一线DBA团队打造，助你掌握MySQL的企业应用方法，胜任工作。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">大数据工程师</div>
            <div class="f-icon icon-1006"></div>
            <div class="org f-f0">Wiley</div>
            <div class="f-pa des">
              <p class="cnt">本微专业由世界顶级行业专家主持，国际学术出版商Wiley开发，面向全球化需求。通过学习，您将帮助掌握大数据技术必备技能和核心技术，包括工具选择，存储、编程、处理和管理数据架构等。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">移动开发工程师</div>
            <div class="f-icon icon-1005"></div>
            <div class="org f-f0">Wiley</div>
            <div class="f-pa des">
              <p class="cnt">本微专业由HTML5与跨平台开发、Android开发、iOS开发三个模块（含实验）组成；适合初学者全面体验，快速入门。微专业学习者将能够熟练使用当前流行的工具，开发出以用户为中心的移动应用。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
        </tr>
        <tr>
          <td><a class="link f-pr" href="#" target="_blank">
            <div class="name f-f0">前端开发工程师</div>
            <div class="f-icon icon-1002"></div>
            <div class="org f-f0">网易杭州研究院</div>
            <div class="f-pa des">
              <p class="cnt">网易一线资深前端开发工程师倾情打造！助你完成普通程序员到优秀工程师的华丽升级！更有最高¥1999奖学金！考核未通过免费重修一次。付费后视频随时观看，永久有效。</p>
              <p class="more">查看详情</p>
            </div>
            </a></td>
          <td colspan="3"><div class="name2 f-f0">更多微专业正在制作敬请期待</div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="block g-wrap cert c2 f-cb" style="line-height:35px; width:80%;font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl img"></div>
    <div class="f-fr text f-f0">
      <h2 class="f-f0">广泛认可的证书支持</h2>
      <div class="detail s-fc5"> 当你完成课程学习后，还可以获得老师签名的证书。<br>
        这些证书不仅仅是一种荣耀，更是你成长路上的一个里程碑。<br>
        <a class="f-fcgreen" href="#" style="color:#70C5D3" target="_blank">点击查看详情&gt;</a> </div>
    </div>
  </div>
  <div class="bd"></div>
  <div class="block g-wrap cert c1 f-cb" style="line-height:35px;width:80%; font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl text f-f0">
      <h2 class="f-f0">先进的在线学习方式</h2>
      <div class="detail s-fc5"> 应用时下最流行的MOOC教学方式，定期开课，简短视频、在线测试和作业评估。<br>
        比起通过书籍自学，更快速有效。 </div>
    </div>
    <div class="f-fr img"></div>
  </div>
  <div class="bd"></div>
  <div class="block g-wrap cert c3 f-cb" style="line-height:35px; width:80%;font-size:20px ;margin-top:180px;background:#EEEEEE">
    <div class="f-fl img"></div>
    <div class="f-fr text f-f0">
      <h2 class="f-f0">随时随地掌握学习进度</h2>
      <div class="detail s-fc5"> 下载云课堂App，将课程统统装进你的口袋。<br>
        无论是在家里，还是在咖啡馆，随时随地，学习进度轻松掌握。 </div>
    </div>
  </div>
</div>
<div class="question">
  <div class="g-wrap f-cb f-f0" style="line-height:30px; font-size:17px; width:80%; margin-top:180px;background:#EEEEEE">
    <div class="u-mainTit">常见问题</div>
    <div class="list">
      <div class="itm">
        <p class="tit">Q：课程是免费的吗？</p>
        <p class="s-fc5">A ：是的，现在计算机专业体系都是免费的，你可以自由选择喜欢的课程进行学习。</p>
      </div>
      <div class="itm itm2">
        <p class="tit">Q：如何获得认证证书？</p>
        <p class="s-fc5">A ：要想获得证书，你需要完成相关学习内容，包括观看视频，提交作业，参与互评和讨论等等。你需要及时查看课程大纲及公告，了解获得课程证书的具体要求。课程团队将根据你的最后得分判断是否颁发证书。</p>
      </div>
    </div>
    <a class="link" href="#" target="_blank" style="color:#70C5D3">查看全部 &gt;</a> </div>
</div>
<br/>
<br/>
</block>