<extend name="Public:layout" />
<block name="main-content">
 <div><img src="__PUBLIC__/Home/imgs/major_money.png"></div>
<div class="g-wrap"   style="margin-left:35px;">
  <div class="m-teacher"  style="background:#EEEEEE">
    <div class="f-wrap">
      <h3 class="title">强大的师资团队</h3>
      <div class="t-list" >
        <div class="arrowL arrow  disabled"> </div>
        <div class="list">
          <ul id="teacher-list" style="width: 3080px; background:#EEEEEE">
            <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/stu11.png"> </a>
              <h4 class="name">汤和松</h4>
              <p>汤和松先生2009年加入百度公司，曾任百度公司副总裁，负责战略投资并购。在此期间，汤先生也参与了许多百度核心的战略制定。</p>
            </li>
            <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/stu22.png"> </a>
              <h4 class="name">潘福祥</h4>
              <p>进入证券业最早的《证券投资学》教师，教授《证券投资学》时间最长的证券从业人员，清华大学经济管理学院工学学士。</p>
            </li>
            <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/stu33.png"> </a>
              <h4 class="name">吴蓉晖</h4>
              <p>吴老师曾任英特尔投资中国区总监，投资领域包括科技媒体，健康和清洁能源。现任同渡势成（北京）投资管理有限公司创始管理合伙人。</p>
            </li>
          </ul>
        </div>
        <div class="arrowR arrow"> </div>
      </div>
    </div>
  </div>
  <div class="m-source" style="background:#EEEEEE">
    <div class="f-wrap">
      <h3>您收获的，不仅仅是课程</h3>
      <ul class="f-cb">
        <li class="source-1">
          <div><img src="__PUBLIC__/Home/imgs/photo1.png"></div>
          <p>课程参考资料</p>
        </li>
        <li class="source-2">
          <div><img src="__PUBLIC__/Home/imgs/photo2.png"></div>
          <p>线下清华课程学习机会</p>
        </li>
        <li class="source-3">
          <div><img src="__PUBLIC__/Home/imgs/photo3.png"></div>
          <p>免费参加金融大牛直播活动</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-recommend" style="background:#EEEEEE">
    <div class="f-wrap">
      <h3>热门课程推荐</h3>
      <ul class="f-cb">
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(1).png">
          <h5>金融行业直播学习会</h5>
          <p>紫荆教育 免费</p>
          </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(2).png">
          <h5>P2P模式的未来</h5>
          <p>紫荆教育 免费</p>
          </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(3).png">
          <h5>新三板挂牌法律实务</h5>
          <p>紫荆教育 免费</p>
          </a> </li>
        <li> <a target="_blank" href="#"> <img src="__PUBLIC__/Home/imgs/major_money(4).png">
          <h5>股票投资</h5>
          <p>紫荆教育</p>
          </a> </li>
      </ul>
    </div>
  </div>
  <div class="m-cooperation" style="background:#EEEEEE">
    <div class="f-wrap">
      <h3>课程合作机构</h3>
      <div class="f-cb">
        <div class="edu-logo"><img src="__PUBLIC__/Home/imgs/zi.png" style="margin-left:-10px"></div>
        <div class="desc">
          <h5>清华大学五道口金融学院旗下在线教育平台</h5>
          <p>国际化金融视野，高水平师资阵容，前瞻性金融实践</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="j-sp-loadingMask" class="u-sp-loading-mask"></div>
<div id="j-sp-loadingPb" class="u-sp-loading"></div>
</block>