<!DOCTYPE html>
<html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>系统维护中 - 云课堂</title>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache" max-age="0">
        <meta http-equiv="Expires" content="0">
        <meta name="author" content="netease">
        <meta name="version" content="1.0">
        <meta property="wb:webmaster" content="766092f2bbf0c80d">
        <style type="text/css">
			.m-nav {
				background: url(http://s.stu.126.net/res/images/bg/bg_nav_rep.png) repeat-x;
			}
			.m-nav .wrap {
				width: 960px;
				margin: 0 auto;
				height: 60px;
			}
			.m-nav .wrap img {
				display: block;
				padding-top: 12px;
				padding-left: 0;
			}
			.m-error {
				width: 500px;
				height: 320px;
				margin: 100px auto;
			}
		</style>
        </head>
        <body style="margin:auto;background: #eee;">
			<!-- 顶部导航栏 -->
			<div class="m-nav">
					  <div class="wrap"> <img src="__PUBLIC__/Home/imgs/config.png"> </div>
					</div>
			<div class="m-error"> <img class="leftPic" src="__PUBLIC__/Home/imgs/maintain_bg.png"> </div>
		</body>
</html>