<extend name="Public:layout"/>
<block name="main-content">
<div class="m-maintainInfo" style="display: none;">
  <div id="maintain_info_box" class="g-flow"></div>
</div>
<div id="advertisement_box" class="advertisement_box f-pf" style="display: none;"></div>
<div class="g-flow abt f-cb">
		<div class="b-20"></div>
		<div class="g-sd1 abt">
			<div class="f-bg u-aboutTabs" id="j-tabs">
				<a id="auto-id-1450193523765" class="j-tabItem top" data-type="1">关于我们</a>
				<a id="auto-id-1450193523766" class="j-tabItem" data-type="2">联系我们</a>
				<a id="auto-id-1450193523767" class="j-tabItem" data-type="3">法律条款</a>
				<a id="auto-id-1450193523768" class="j-tabItem" data-type="3">讨论中心</a>
				<a id="auto-id-1450193523769" class="j-tabItem" data-type="3">学习计划</a>
				<a id="auto-id-1450193523770" class="j-tabItem" data-type="3">意见反馈</a>
			</div>
		</div>
		<div class="g-mn1 abt">
    <div class="g-mn1c abt">
      <div id="about-box" class="f-bg">
        <div class="m-about f-cb">
		
			<!-- 关于我们 -->
          <div id="auto-id-1450193523776" class="about_con j-aboutCon f-bg f-pr" style="display:none;" data-type="1">
            <h2 class="tabtit">关于我们</h2>
            <div class="about_content j-aboutContent">
              <p>云
                课堂，是网易公司倾力打造的在线实用技能学习平台，该平台于2012年12月底正式上线，主要为学习者提供海量、优质的课程，课程结构严谨，用户可以根据
                自身的学习程度，自主安排学习进度。云课堂的宗旨是，为每一位想真真正正学到些实用知识、技能的学习者，提供贴心的一站式学习服务。</p>
              <div class="b-20"></div>
              立足于实用性的要求，云课堂精选各类课程，与多家权威教育、培训机构建立合作，课程数量已达1100+，课时总数超16000,涵盖实用软件、IT与互联
              网、外语学习、生活家居、兴趣爱好、职场技能、金融管理、考试认证、中小学、亲子教育等十余大门类，其中不乏数量可观、制作精良的独家课程。从用户生活、
              职业、娱乐等多个维度，为用户打造实用学习平台。
              <div class="b-20"></div>
              云课堂目前拥有Web端、iPad端。
              <p></p>
              <br>
              <h3>特色板块</h3>
              <p> <b>学习计划</b><br>
                云课堂学习计划为云课堂独有研发，针对不同用户的学习需求，推荐或由用户自己创建更适合自己程度的学习内容和周期。截至目前为止，云课堂学习计划数量已经
                达7700+。学习计划的制作，让用户的学习更具有系统性，同时能根据计划的周期，更有效的提高学习效率，优化学习效果。 </p>
              <br>
              <p> <b>题库</b><br>
                题库是云课堂为各类热门考试的考生研发的题目类学习模块。目前用户可参加公务员、建筑师、会计等多类考试的真题练习测试，并参与题目的分析讨论。同时，题库会和相应考试类课程、学习计划有机整合，完整辅助考生整个备考过程。 </p>
              <br>
              <h4>特色功能</h4>
              <p> <b>笔记</b><br>
                云课堂笔记功能为视频学习做了专门设计。学习者添加笔记时会自动保存视频的当前时间点，回顾笔记时就可观看当时视频。学习者还可以对视频截图或上传本地图片保存到笔记当中， 使得保存老师的板书、重要信息更快捷。<br>
                学习者可将笔记公开，也可评论、收藏他人笔记，加强了用户间学习交流。另外，笔记可同步到自己的“有道云笔记”中，或分享到各种社交网络，更便于集中管理。 </p>
              <br>
              <p> <b>进度管理与学习监督</b><br>
                云课堂更关注用户个人学习的效率和效果。学习者学习过程中，云课堂支持自动\手动标记课时完成状态，或标记为“重要\有疑问”等，以便用户回顾和把控学习进度。另外，用户可设置课程的学习时间安排，云课堂会定期发送提醒通知用户。 </p>
              <br>
              <p> <b>问答</b><br>
                学习者在学习过程中可随时提问。云课堂会根据问题内容将问题呈现给相关学习者或讲师，帮助用户快速获得答案。 </p>
            </div>
          </div>
          
		  <!-- 联系我们 -->
		  <div id="auto-id-1450193523777" style="display: none;" class="about_con j-aboutCon f-bg f-pr" data-type="2">
            <h2 class="tabtit">联系我们</h2>
            <div class="about_content"> 商务合作及对外项目合作（媒体公关合作、内容合作、品牌合作及课程团购业务）： <br>
              &nbsp; &nbsp;电子邮件：<a hidefocus="true" href="mailto:bdstudy@163.com">bdstudy@163.com</a><br>
              &nbsp; &nbsp;联系电话：0571-89852187<br>
              <br>
              企业在线培训服务： <br>
              &nbsp; &nbsp;电子邮件：<a hidefocus="true" href="mailto:bdstudy@163.com">bdstudy@163.com</a><br>
              &nbsp; &nbsp;联系电话：0571-89852608<br>
              <br>
              客户服务： <br>
              &nbsp; &nbsp;电子邮件：<a hidefocus="true" href="mailto:study@service.netease.com">study@service.netease.com</a><br>
              &nbsp; &nbsp;联系电话：0571-89853416<br>
              <br>
              联系地址： <br>
              &nbsp; &nbsp;公司地址：浙江省杭州市滨江区网商路599号<br>
              &nbsp; &nbsp;邮政编码：310052 </div>
          </div>
         
			<!-- 法律条款 -->
		 <div id="auto-id-1450193523778" style="display: none;" class="about_con j-aboutCon f-bg f-pr" data-type="3">
            <h2 class="tabtit">法律条款</h2>
            <div class="about_content">
              <h2>网易云课堂服务协议 <span class="f-fs0">更新时间: 2015年3月25日</span></h2>
              <br>
              <p> 欢迎使用网易云课堂服务，为了保障您的权益，请在使用网易云课堂服务之前，详细阅读此服务协议（以下简称“本协议”）所有内容，<b>特别是加粗部分</b>。 </p>
              <br>
              <p> 本协议内容包括协议正文、本协议下述协议明确援引的其他协议、网易公司已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，您使用网易云课堂服务均受本协议约束。 </p>
              <br>
              <p> 第一条 定义<br>
                网易云课堂指网易公司所有和经营的有关教育、学习等数字内容聚合、管理和分发的平台产品，旨在为用户提供教学内容的生成、传播和消费服务。 </p>
              <br>
              <p> 第二条 网易云课堂服务协议的修订<br>
                <b>本协议及相关服务条款如由于业务发展需要进行修订的，网易公司将在网易云课堂公布。您可前往查阅最新版协议条款。在网易公司修改上述条款后，如果您不接受修改后的条款，您可以选择终止使用网易云课堂服务。您继续使用网易公司平台作品的行为将被视为已接受了修改后的协议</b>。 </p>
              <br>
              <p> 第三条 帐号使用规则<br>
                1、您可浏览网易云课堂上的课程信息，如您希望学习该课程，您需先登录您的帐号，或注册网易邮箱帐号并登录。您在学习课程时登录的帐号是网易公司确认您身份的唯一依据。<br>
                <br>
                2、<b>您确认：您是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，有能力对您使用网易云课堂服务的一切行为独立承担责任。若您不具备前述主体资格，网易公司在依据法律规定或本协议约定要求您承担责任时，有权向您的监护人追偿</b>。<br>
                3、您在使用网易云课堂服务时填写、登录、使用的帐号名称、头像、个人简介等帐号信息资料应遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩
                序、社会道德风尚和信息真实性等七条底线，不得在帐号信息资料中出现违法和不良信息，且您保证在填写、登录、使用帐号信息资料时，不得有以下情形:<br>
              </p>
              <ul>
                <li>（1）违反宪法或法律法规规定的；</li>
                <li>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                <li>（3）损害国家荣誉和利益的，损害公共利益的；</li>
                <li>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                <li>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                <li>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                <li>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                <li>（8）侮辱或者诽谤他人，侵害他人合法权益的；</li>
                <li>（9）含有法律、行政法规禁止的其他内容的。</li>
              </ul>
              若用户登录、使用帐号头像、个人简介等帐号信息资料存在违法和不良信息的，网易公司有权采取通知限期改正、暂停使用等措施。对于冒用关联机构或社会名人登录、使用、填写帐号名称、头像、个人简介的，网易公司有权取消该帐号在网易云课堂上使用，并向政府主管部门进行报告。<br>
              4、您应保管好自己的帐号和密码，如因您未保管好自己的帐号和密码而对自己、网易公司或第三方造成损害的，您将自负全部责任。另外，您应对您帐号中的所有
              活动和事件负全责。您可随时改变帐号的密码。您同意若发现有非法使用您的帐号或出现安全漏洞的情况，立即通告网易公司，网易公司将会尽力予以妥善解决。<br>
              <p></p>
              <br>
              <p> 第四条 数据<br>
                <b>除非另有证明，网易公司储存在其服务器上的数据是您使用网易云课堂服务的唯一有效证据</b>。 </p>
              <br>
              <p> 第五条 网易云课堂使用规则<br>
                1、您须对自己在使用网易云课堂服务过程中的行为承担法律责任。您承担法律责任的形式包括但不限于：对受到侵害者进行赔偿；以及在网易公司首先承担了因您的行为导致的行政处罚或侵权损害赔偿责任后，您应给予网易公司等额的赔偿。<br>
                2、您了解并同意，网易公司有权应有权部门的要求，向其提供您提交给网易公司或在使用网易云课堂服务中存储于网易公司服务器的必要信息。如您涉嫌侵犯他人合法权益，则网易公司有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供关于您的前述必要信息。 </p>
              <br>
              <p> 第六条 其他约定<br>
                1、不可抗力：<br>
                <b>网
                易公司对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信
                运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情
                况</b>。 </p>
              <br>
              <p> 2、服务中止、中断及终止：<b>网易公司根据自身商业决策等原因可能会选择中止、中断及中止平台服务。如有此
                等情形发生，网易公司会采取公告的形式通知您。经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者网易公司根据自身的判断，认为您的行为
                涉嫌违反《网易邮箱服务条款》、本协议内容或网易云课堂不时公布的使用规则等内容，或涉嫌违反法律法规的规定的，则网易公司有权中止、中断或终止向您提供
                服务，且无须为此向您或任何第三方承担责任</b>。 </p>
              <br>
              <p> 3、所有权及知识产权：网易公司平台上所有内容，包括但不限于文字、软件、声音、图片、录像、图表、网站架构、网站画面的安排、网页设计、网易公司为您提
                供的标有“版权所有，禁止转载”字样的教育内容均由网易公司或其他权利人依法拥有其知识产权，包括但不限于著作权、商标权、专利权等。非经网易公司或其他
                权利人书面同意您不得擅自使用、修改、复制、传播、改变、散布、发行或发表上述内容。如有违反，您同意承担由此给网易公司或其他权利人造成的一切损失。<br>
                <br>
                4、通知：所有发给您的通知都可通过电子邮件、常规的信件或在网站显著位置公告的方式进行传送。<br>
                <br>
                5、本协议适用中华人民共和国的法律（不含冲突法）。 当本协议的任何内容与中华人民共和国法律相抵触时，应当以法律规定为准，同时相关内容将按法律规定进行修改或重新解释，而本协议其他部分的法律效力不变。 <br>
                <br>
                6、本协议自发布之日起实施，并构成您和网易公司之间的共识。<br>
                <br>
                7、网易公司不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响网易公司在将来行使该权利。<br>
                <br>
                8、如果您对本协议内容有任何疑问，请发送邮件至我们的客服邮箱： <a hidefocus="true" href="mailto:study@service.netease.com">study@service.netease.com</a>。<br>
              </p>
            </div>
          </div>
         
			<!-- 讨论中心 -->
		 <div id="auto-id-1450193523779" style="display: none;" class="about_con j-aboutCon f-bg f-pr" data-type="4">
            <div class="m-help about_content">
              <div class="tabs"> <a href="#/about?aboutType=4&amp;subType=1" class="tab j-tab f-fl f-f0">讨论区</a> </div>
            <div class="con j-tabcon">
                <h2>讨论区使用规则</h2>
                <b>第一部分：总述</b><br>
                1. 讨论区是以课程为单位创建的、供每个课程师生交流的专属功能区。每个讨论区默认包括综合讨论区和老师答疑区两个分区。<br>
                2. 机构、讲师、版主、普通学生等均可使用讨论区，其中机构、讲师、版主除常规使用外还需承担管理职责。
                <p></p>
                <br>
                <p> <b>第二部分：宗旨与原则</b><br>
                  1. 讨论区以方便本课程的师生和生生交流为核心宗旨。<br>
                  2. 为使讨论区更好地达成交流宗旨，需要所有成员认同并履行如下原则： <br>
                  &nbsp;&nbsp;（1）尊重为本，友善沟通。每个参与者均需认同：在此互动的是与你一样爱学习的人，你需要给予别人与你希望获得的同样的尊重。友善为沟通第一原则，切勿恶意攻击他人。 <br>
                  &nbsp;&nbsp;（2）鼓励为主，关注进步。每个参与者都是在学习成长中的个体，有自己的长处，也有自己的不足，其学习的目的就是为了让自己变得更好。如果你发现有人在某方面表现的不尽如人意，请伸手帮助他努力提升，而不是嘲笑和讽刺他人。 <br>
                  &nbsp;&nbsp;（3）明确表达，有效互动。凝炼准确的表达是思路清晰的表现，如果帖子过长且模糊，你可能需要先把自己的思路整理清楚，再试图和别人互动。 <br>
                  &nbsp;&nbsp;（4）鼓励干货，杜绝广告。你创建或转发的学习经验、思考、提问、创意都能激发同学思考，并在课程内容外获得新的提升。你可以通过此方式探索分享的快乐。然而强硬的广告会破坏讨论氛围甚至引发同学反感，请检视自己的行为。 </p>
                <br>
                <p> <b>第三部分：管理</b><br>
                  1. 讨论区由课程开设机构、讲师和版主共同行使管理职责。<br>
                  2. 每名管理人员需至少每两日登录一次，履行管理职责。<br>
                  3. 讨论区的日常管理包括但不限于： <br>
                  &nbsp;&nbsp;（1）使帖子在合适的版块 <br>
                  &nbsp;&nbsp;（2）核对帖子内容，奖励内容优质的用户发帖，惩罚违规发帖 <br>
                  &nbsp;&nbsp;（3）鼓励积极参与、学习努力的同学，处罚违规同学 <br>
                  &nbsp;&nbsp;（4）维护本课程管理团队，使管理团队稳定运转 <br>
                  &nbsp;&nbsp;（5）保持与云课堂运营人员沟通，反馈管理情况<br>
                  4. 参与者有权质疑版主的管理行为，如遇管理违规，可将申诉情况发至本课程的综合讨论区。<br>
                  5. 讲师、机构、版主可共同制定所属课程讨论区版规。 </p>
                <br>
                <p> <b>第四部分：奖励</b><br>
                  1. 原创或转发的、对他人有讨论或借鉴价值的、发言理性积极、回复热烈的帖子被被标记为精华帖；其中适用范围最广、每个学员都能有所受益的，可同时置顶。<br>
                  2. 老师或版主发布的、对讨论区交流秩序有重要影响的，或包含提供给每个学员的基础服务的帖子，可标记为置顶；其中收到学生好评、学生回复热烈的，可同时加精华。<br>
                  3. 加为精华的发帖，机构、讲师和版主可推荐给云课堂运营人员，通过其它渠道给予奖励和推荐。<br>
                  4. 发布多个精华或置顶帖的普通参与者、版主、讲师、机构，可推荐给云课堂运营人员，通过其他渠道给予奖励和推荐。<br>
                  5. 服务态度积极、频繁帮助他人的普通参与者、版主、讲师、机构，可推荐给云课堂运营人员，举荐其为版主，或通过其他渠道给予奖励和推荐。 </p>
                <br>
                <p> <b>第五部分：惩罚</b><br>
                  1. 讨论区出现包括但不限于如下情况的帖子时，机构、讲师、版主原则上提醒为主，情况恶略的，有权在不通知发布者的情况下删除内容、封禁发布者。 <br>
                  &nbsp;&nbsp;（1）在讨论区发布与课程内容无关的时政（及评论）相关内容 <br>
                  &nbsp;&nbsp;（2）不尊重他人，直接或含沙射影的人身攻击其他用户 <br>
                  &nbsp;&nbsp;（3）发布明显存在科学漏洞、疑神疑鬼、不可证伪的内容 <br>
                  &nbsp;&nbsp;（4）发布广告、与课程无关内容 2. 处罚操作由机构、讲师、版主执行，执行处罚操作后，需专门发帖说明<br>
                  3. 机构、讲师、版主可根据日常管理经验补充处罚情况列表<br>
                  4. 被处罚者可回复处罚帖提起申诉，申诉需有详细理由。云课堂运营人员将介入申诉评审过程，并发表最终结论。 </p>
                <br>
                <p> <b>第六部分：操作方法</b><br>
                  1. 进入讨论区 <br>
                  &nbsp;&nbsp;（1）在每个课程的课程详情页，点击“讨论区”tab，可以进入讨论区。 <br>
                  &nbsp;&nbsp;（2）使用他人分享的课程讨论区的链接，可以进入讨论区。<br>
                  2. 发帖 <br>
                  &nbsp;&nbsp;（1）在课程讨论区首页点击“发起讨论”按钮，可以发新帖。 <br>
                  &nbsp;&nbsp;（2）在课程讨论区子版块点击“发起讨论”按钮，可以发新帖。 <br>
                  &nbsp;&nbsp;（3）在课程学习页面，屏幕右侧的“讨论”tab，选择版块，填写内容，点击“发起讨论”按钮，可以发新帖。 <br>
                  &nbsp;&nbsp;（4）发帖时需先选择发帖版块，问题需发布到“老师答疑区”，其他内容发布到“综合讨论区”或对应分区。 <br>
                  &nbsp;&nbsp;（5）进入发帖页面后，需在“主题”区填写帖子标题，点击“补充详细说明”可填写帖子正文。在“老师答疑区”发布的问题，可在最上端选择该问题与整个课程相关，还是与某个课时相关。<br>
                  3. 回复 <br>
                  &nbsp;&nbsp;（1）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可以在最下端的回复框内，回复帖子内容。 <br>
                  &nbsp;&nbsp;（2）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，点击主帖下的“回复”按钮，可以回复帖子内容。<br>
                  4. 评论 <br>
                  &nbsp;&nbsp;在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，点击每个回复下的“评论”，可以评论回复内容。<br>
                  5. 分享与关注 <br>
                  &nbsp;&nbsp;（1）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可点击“关注”按钮，关注该帖子，该帖子有新回复后将会给你通知。 <br>
                  &nbsp;&nbsp;（2）在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可指向“分享”链接并点击分享途径的按钮，可以将该帖子分享出去。<br>
                  6. 举报 <br>
                  &nbsp;&nbsp;在讨论区首页、讨论区子版块、课程学习页面点击帖子内容，进入帖子详情页，可点击主帖或各回复的“举报”链接，举报违规内容。<br>
                  7. 排序 <br>
                  &nbsp;&nbsp;（1）进入子版块后，帖子列表最上端的下拉列表为排序规则，点击具体排序规则，可以按规则为本版块帖子列表排序。 <br>
                  &nbsp;&nbsp;（2）老师答疑区还包括课时选择列表，选择课时可以看到与该课时有关的问答。<br>
                  8. 搜索 <br>
                  &nbsp;&nbsp;在讨论区首页及各子版块右侧的搜索框中输入关键词，并敲击回车键，可以在对应的版块搜索帖子。 </p>
              </div>
            </div>
          </div>
          
		  <!-- 学习计划 -->
		<div id="auto-id-1450193523780" style="display: none;" class="about_con j-aboutCon f-bg f-pr" data-type="6">
            <h2 class="tabtit">如何创建一份好的学习计划</h2>
            <div class="about_content">
              <p> 无论是兴趣爱好，还是职业发展需要，为你的学习指定一个合理清晰的学习计划是成功的重要一步。云课堂帮助您轻松制定在线学习计划，安排和监督你的学习。</p>
              <h3> 现在就来学习如何创建一个好的学习计划吧~</h3>
              <p>能够制作课程内容的前提是你已经获得了云课堂制作课程的权限，当你成功登录至云课堂后，可以在“我的云课堂”中找到制作课程的按钮。点击该按钮就正式进入制作课程的流程中。</p>
              <p>1、当你首次使用制作课程功能时，请填写下面的电子协议，它将更好地保护你的相关权益。</p>
              <img src="__PUBLIC__/Home/imgs/step1.png">
              <p>2、之后，你将进入步骤引导流程中，按照流程中的规定渐次填写相关内容，必填内容的前方会有标记哦~</p>
              <img src="__PUBLIC__/Home/imgs/step2.png">
              <p>3、当你根据流程填写完毕对应信息后，来到信息管理页。这个页面中你可以：</p>
              <img src="__PUBLIC__/Home/imgs/step3.png">
              <p>4、如果你对某个任务有特别说明，比如课时对应PPT下载地址或你的课时笔记，也可以将这些说明加入学习计划中~</p>
              <img src="__PUBLIC__/Home/imgs/step4.png">
              <p>5、选择某个课程图片或上传图片作为该计划的封面，方便查看和使用该计划。</p>
              <img src="__PUBLIC__/Home/imgs/step5.png">
              <p>6、如果你还来不及完成整个计划，没关系~，点击页面底部的“保存草稿”按钮先将它保存为草稿。<br>
                你可以在“我的学习计划”页面找到并继续编辑它啦~</p>
              <img src="__PUBLIC__/Home/imgs/step6.png">
              <p>7、发布成功后，可以进入学习页面逐个检查每个任务是否创建成功。以下两种情况请特别注意：<br>
                &nbsp;&nbsp;&nbsp;&nbsp;（1）贴入web页面链接失效，显示错误信息。请及时删除该任务。<br>
                &nbsp;&nbsp;&nbsp;&nbsp;（2）贴入web页面存在自动跳出问题。由于部分网站设有反嵌套机制，会自动跳出。您可以删除该任务，并将该<br>
                &nbsp; </p>
            </div>
          </div>
        
		<!-- 意见反馈 -->
		<div id="auto-id-1450193523781" style="" class="about_con j-aboutCon f-bg f-pr f-cb" data-type="8">
            <h2 class="tabtit">意见反馈</h2>
            <div class="about_content j-aboutContent">
              <div class="m-feedbackSys">
			  <form method="post" action="__CONTROLLER__/advice">
                <div class="title f-cb">
                  <p class="feed-tit"><em class="f-sign">*</em>标题</p>
                  <div class="f-cb">
                    <div class="j-feed-content auto-1450193523645-parent">
                      <div class="m-nesIpt f-cb auto-1450193523645">
                        <div class="area j-inputArea f-fl auto-1450193523612-parent">
                          <div style="width: 500px; height: 35px;" class="m-baseinputui auto-1450193523612">
                            <textarea style="width:500px; height:25px;" id="auto-id-1450193523802" name="title" class="j-textarea inputtxt" placeholder="6-20字"></textarea>
							<h4 style="float:right;margin-right:-150px;margin-top:-30px;" name="h4"></h4>
                          </div>
                        </div>
                        <div class="infobox j-infobox auto-1450193523620-parent">
                          <div style="display: none;" class="m-feedbackinfo auto-1450193523620">
                            <div class="warningbox j-warningbox f-cb"><span class="right j-warningicon"></span><span class="warning j-warning"></span></div>
                            <div class="loadingbox j-loadingbox f-cb"><span class="icon"></span><span class="loading j-loading"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cnt">
                  <p class="feed-tit"><em class="f-sign">*</em>内容</p>
                  <div class="f-cb">
                    <div class="j-feed-content auto-1450193523645-parent">
                      <div class="m-nesIpt f-cb auto-1450193523645">
                        <div class="area j-inputArea f-fl auto-1450193523612-parent">
                          <div style="width: 500px; height: 130px;" class="m-baseinputui auto-1450193523612">
                            <textarea style="width: 500px; height: 130px;" id="auto-id-1450193523815" name="advice" class="j-textarea inputtxt"placeholder="请填写具体内容帮助我们了解您的意见与建议"></textarea>
							<h4 style="float:right;margin-top:-30px;margin-right:-150px;"name="advice1"></h4>
                          </div>
                        </div>
                        <div class="infobox j-infobox auto-1450193523620-parent">
                          <div style="display: none;" class="m-feedbackinfo auto-1450193523620">
                            <div class="warningbox j-warningbox f-cb"><span class="right j-warningicon"></span><span class="warning j-warning"></span></div>
                            <div class="loadingbox j-loadingbox f-cb"><span class="icon"></span><span class="loading j-loading"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contect">
                  <p class="feed-tit"><em class="f-sign">*</em>联系方式</p>
                  <div class="f-cb">
                    <div class="j-feed-content auto-1450193523645-parent">
                      <div class="m-nesIpt f-cb auto-1450193523645">
                        <div class="area j-inputArea f-fl auto-1450193523612-parent">
                          <div style="width: 500px; height: 32px;" class="m-baseinputui auto-1450193523612">
                            <textarea style="width: 500px; height: 25px;" id="auto-id-1450193523828" name="relation" class="j-textarea inputtxt" placeholder="QQ/Email">{$data.email}</textarea>
							<span style="float:right;margin-right:-150px;margin-top:-25px;"name="relation1"></span>
                          </div>
                        </div>
                        <div class="infobox j-infobox auto-1450193523620-parent">
                          <div style="display: none;" class="m-feedbackinfo auto-1450193523620">
                            <div class="warningbox j-warningbox f-cb"><span class="right j-warningicon"></span><span class="warning j-warning"></span></div>
                            <div class="loadingbox j-loadingbox f-cb"><span class="icon"></span><span class="loading j-loading"></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
					<input type="hidden"name="uid"value="{$_SESSION.id}"/>
                  </div>
                </div>
                <div><a id="auto-id-1450193523794" class="j-saveBtn btn f-cb" style="margin-left:20px;"><button type="submit"name="sub" value="sub" style="background:#18A539;width:100px;height:50px;font-size:20px;color:#fff;">提交</button></a></div>
			  </form>
			  </div>
            </div>
          </div>
		</div>
      </div>
    </div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	var p=false;
	var p1=false;
	var p2=false;
	$("[name='relation']").blur(function(){
		var val=$(this).val();
		if(val){
			$("[name='relation1']").html("");
			return p=true;
		}else{
			$("[name='relation1']").html("茫茫人海我去哪找你");
			$("[name='relation1']").css("color","red");
			return p=false;
		}
	});
	
	$("[name='advice']").blur(function(){
		var val=$(this).val();
		if(val){
			$("[name='advice1']").html("");
			return p1=true;
		}else{
			$("[name='advice1']").html("请填写反馈内容");
			$("[name='advice1']").css("color","red");
			return p1=false;
		}
	});
	
	$("[name='title']").blur(function(){
		var val=$(this).val();
		if(val.length < 6 || val.length > 20){
			$("[name='h4']").html("请按固定的格式反馈");
			$("[name='h4']").css("color","red");
			return p2=false;
		}else{
			$("[name='h4']").html("格式正确");
			$("[name='h4']").css("color","green");
			return p2=true;
		}
	});
	
	$("form").submit(function(){
		$("[name='title']").blur();
		$("[name='advice']").blur();
		$("[name='relation']").blur();
		if(p && p1 && p2){
			return true;
		}
		return false;
	});


<!-- 点击不同的模块 出来不同的内容 -->
	$("#auto-id-1450193523765").click(function(){
		
		$("#auto-id-1450193523776").fadeIn("slow");
		$("#auto-id-1450193523777").css("display","none");
		$("#auto-id-1450193523778").css("display","none");
		$("#auto-id-1450193523779").css("display","none");
		$("#auto-id-1450193523780").css("display","none");
		$("#auto-id-1450193523781").css("display","none");
	});
	$("#auto-id-1450193523766").click(function(){
	
		$("#auto-id-1450193523777").fadeIn("slow");
		$("#auto-id-1450193523776").css("display","none");
		$("#auto-id-1450193523778").css("display","none");
		$("#auto-id-1450193523779").css("display","none");
		$("#auto-id-1450193523780").css("display","none");
		$("#auto-id-1450193523781").css("display","none");
	});
	$("#auto-id-1450193523767").click(function(){
	
		$("#auto-id-1450193523778").fadeIn("slow");
		$("#auto-id-1450193523777").css("display","none");
		$("#auto-id-1450193523776").css("display","none");
		$("#auto-id-1450193523779").css("display","none");
		$("#auto-id-1450193523780").css("display","none");
		$("#auto-id-1450193523781").css("display","none");
	});
	$("#auto-id-1450193523768").click(function(){
	
			$("#auto-id-1450193523779").fadeIn("slow");
		$("#auto-id-1450193523777").css("display","none");
		$("#auto-id-1450193523778").css("display","none");
		$("#auto-id-1450193523776").css("display","none");
		$("#auto-id-1450193523780").css("display","none");
		$("#auto-id-1450193523781").css("display","none");
	});
	$("#auto-id-1450193523769").click(function(){
	
		$("#auto-id-1450193523780").fadeIn("slow");
		$("#auto-id-1450193523777").css("display","none");
		$("#auto-id-1450193523778").css("display","none");
		$("#auto-id-1450193523779").css("display","none");
		$("#auto-id-1450193523776").css("display","none");
		$("#auto-id-1450193523781").css("display","none");
	});
	$("#auto-id-1450193523770").click(function(){

		$("#auto-id-1450193523781").fadeIn("slow");
		$("#auto-id-1450193523777").css("display","none");
		$("#auto-id-1450193523778").css("display","none");
		$("#auto-id-1450193523779").css("display","none");
		$("#auto-id-1450193523780").css("display","none");
		$("#auto-id-1450193523776").css("display","none");
	});
	
	
	
	
</script>
</block>