<html>
	<head>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/register.css" type="text/css" charset="utf-8">
		<meta charset="utf-8">
	</head>
	<body>
		<div id="header">
			<div> 
				<img src="__PUBLIC__/Home/imgs/logo/2015-12-03_214312.png">
			</div>
		</div>
		<div id="null"></div>
		<div class="body">
			<div>
				<div class="reg">
					<div>
						<form acrion="#" method="post">
							<input type="email" name="email" placeholder="常用邮箱地址" /><br/><br/>
							<input type="possword" name="pwd" placeholder="设置密码" /></br/></br/>
							<input type="possword" name="pwd" placeholder="确认密码" /><br/><br/>
							<input type="" placeholder="验证码">
						</form>
					</div>
				</div>
				<div class="pic">
					<div></div>
					<div><img src="__PUBLIC__/Home/imgs/logo/got2.jpg"></div>
				</div>
				
			</div>
		</div>
	</body>
</html>