<extend name="Public:layout_course" />
<block name="main-content">
<div class="b-15"></div>
<div class="f-cb">
<div class="g-cimn2 f-cb">
<div class="g-cimn2c f-bg f-cb">
<div class="u-forumbread"> <a href="http://study.163.com/forum/index.htm?cid=334013&p=1">返回讨论区</a> </div>
<div class="g-postDetail">
<div id="j-post" class="m-postItem f-cb">
  <div class="f-fl j-postImg u-detailHead"> <a class="j-userLink" href="http://study.163.com/u/ykt1448374214090" target="_blank"> <img class="u-forumImg" id="" src="__PUBLIC__/Home/imgs/big.jpg" width="49" height="49" alt="图片"> </a> </div>
  <div class="f-fl postbox"> <span class="j-userName" data-id="11814368" id="auto-id-1449573269256"> <a class="u-forumname j-userLink" href="http://study.163.com/u/ykt1448374214090" target="_blank">山水之间5566</a> </span>
    <div class="j-title title"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag u-forumtag1 j-tagTopNode" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2 j-tagAgreeNode" style="display:none;">精华</span> <span class="u-forumtag j-tagLectorNode" style="display:none;">老师参与</span> </span> 语速过快,慢点就好了</div>
    <div class="j-content content f-richEditorText edueditor_styleclass_0"></div>
    <div class="optbar f-cb"> <a hidefocus="true" class="f-fl followBtn u-moocbtn u-moocbtn-sm j-followBtn unfollowed" id="auto-id-1449573269247"> <span class="first j-followInner"><i></i>关注</span> <span class="second j-followInner"><i></i>已关注</span> <span class="secHvr j-followInner">取消关注</span> </a> <a hidefocus="true" class="f-fl replyBtn u-moocbtn u-moocbtn-sm j-replyBtn" id="auto-id-1449573269249"><span><i></i>回复</span></a>
      <div class="f-cb f-fr u-forumOptBox j-optBox"> <a hidefocus="true" class="f-fl optitem j-authorityBox" id="auto-id-1449573269251" style="display: none;">用户权限 |</a>
        <div class="f-fl optitem j-manBox" style="display: none;">帖子管理 |</div>
        <a hidefocus="true" class="f-fl f-pr optitem optshare j-share" id="auto-id-1449573269253">分享 |
        <div class="sharebox x-hide j-shareBox auto-1449573269074-parent">
          <div class="u-share f-cb auto-1449573269074" id="j-shareUI"><a class="netease solo" href="javascript:;" title="分享到网易微博" rel="netease" style="display:none;" id="auto-id-1449573269264">网易微博</a><a class="sina solo" href="javascript:;" title="分享到新浪微博" rel="sina" id="auto-id-1449573269266">新浪微博</a><a class="douban solo" href="javascript:;" title="分享到豆瓣" rel="douban" id="auto-id-1449573269268">豆瓣</a><a class="qzone solo" title="分享到QQ空间" rel="qzone" id="auto-id-1449573269270">QQ空间</a><a class="renren solo" href="javascript:;" title="分享到人人" rel="renren" id="auto-id-1449573269272">人人网</a><a class="kaixin solo" href="javascript:;" title="分享到开心网" rel="kaixin" style="display:none;" id="auto-id-1449573269274">开心网</a><a class="weixin solo" href="javascript:;" title="分享到微信" rel="weixin" id="auto-id-1449573269276" style="display: none;">微信</a></div>
        </div>
        </a> <a hidefocus="true" class="f-fl optitem optdig j-dig" id="auto-id-1449573269260">赞（0） |</a> <a hidefocus="true" class="f-fl optitem j-reportBtn" id="auto-id-1449573269245">举报</a> </div>
    </div>
  </div>
</div>
<h4 class="rinfobox">所有回复（0）</h4>
<div id="j-reply-all" class="replyall"> </div>
<div id="j-pager" class="ui-pager" style="display:none;"></div>
<h3 class="raddinfobox">回复</h3>
<div id="j-reply-add" class="replyadd auto-1449573269221-parent">
<div class="m-forumRichEdit ui-richEditor f-cb f-pr auto-1449573269221">
<div class="rich-wrap">
<div class="rich-editor j-richeditor auto-1449573269091-parent">
<div class="u-richeditor auto-1449573269091">
<div class="ztbar j-toolbar auto-1449573269090-parent">
  <textarea name="reply" class="rich-wrap">
	sdfafasd
  </textarea>
</div>
<div class="zarea j-area" style="width: 100%; height: 200px; z-index: 999; overflow: hidden;">
<iframe id="ueditor_0" width="100%" height="100%" frameborder="0" src="javascript:void(function(){document.open();document.write("<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' class='view' >
<head>
<style type='text/css'>
.view{padding:0;word-wrap:break-word;cursor:text;height:90%;}
body{margin:8px;font-family:sans-serif;font-size:16px;}p{margin:5px 0;}
</style>
<style>
.view{ font-size:12px; border:0; text-align:left; color:#666; line-height:22px; word-break:break-word; word-wrap:break-word;}.view em{ font-style:italic;}.view p{ margin:0; padding:0;}.view div{ margin:10px 0; padding:0;}.view sup, .view blockquote{ border-left:3px solid #D0E5F2; font-style:normal; padding: 0 0 0 10px; vertical-align:baseline; margin:0; font-size:14px;}.viewimg{ max-height:520px; max-width:520px; vertical-align:middle;}.view code{ min-height:25px; font-family:monospace; white-space:pre-wrap; margin:.5em 0; padding:.4em .6em; border-radius:8px; background:#EFEFEF;}.view table{ border-collapse:collapse; border-spacing:0; border:1px solid #E4E4E4}.view table th, .view table td{ border:1px solid #E4E4E4; padding:5px;}
</style>
</head>
<body class='view' >
</body>
<script type='text/javascript'  id='_initialScript'>setTimeout(function(){editor = window.parent.UE.instants['ueditorInstant0'];editor.setup(document);},0);var _tmpScript = document.getElementById('_initialScript');_tmpScript.parentNode.removeChild(_tmpScript);</script>
</html>
");document.close();}())">
</iframe>
</div>
</div>
</div>
<div class="rich-opt f-cb">
  <label class="j-anony f-fl">
    <input type="checkbox" hidefocus="true" class="j-anonycheck">
    &nbsp;&nbsp;匿名</label>
  <a hidefocus="true"  class="j-edit-btn f-fr editbtn" id="auto-id-1449573269233">发布</a>
  <a hidefocus="true" class="j-close-btn f-fr editbtn" id="auto-id-1449573269233" >取消</a>
  </div>
</div>
<div class="unlogin j-unloginbox" style="display: none;">
  <div class="autowrap f-cb">
    <p class="f-fl">发表观点要登录哦！</p>
    <a hidefocus="true" class="j-login-btn loginbtn f-fl" id="auto-id-1449573269235"><span>立即登录</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="g-cisd2">
  <div class="ui-detail-info f-bg"><b class="b-10"></b>
    <div class="info"><span>最近活动：</span><span id="j-recent">12月7日</span></div>
    <div class="info"><span>创建时间：</span><span id="j-create">12月7日</span></div>
    <div class="info"><span>浏览次数：</span><span>0</span></div>
    <div class="info"><span>关注人数：</span><span>0</span></div>
    <b class="b-10"></b></div>
</div>
</div>
</div>
</block>