<extend name="Public:layout"/>
<block name="main-content">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="__APP__">主页</a>
                </li>

                <li>
                    <a href="#">类型管理</a>
                </li>
                <li class="active">视频列表</li>
            </ul><!-- .breadcrumb -->

        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    类型管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        视频列表
                    </small>
                </h1>
            </div><!-- /.page-header -->

                <form action='__CONTROLLER__/select/id/{$id}' method="get">
                    <div class="seachform">
                        视频名称: <input name="title" type="text" class="scinput" />
                        &nbsp;&nbsp;&nbsp;<input type="submit" name="sub" class="btn btn-primary btn-xs"  value="查询"/>
                    </div>
                </form>
				   <br>
                    <div class="seachform">
                       
                       <a href="__CONTROLLER__/add_video/tid/{$id}"  class="btn btn-primary btn-xs">添加</a>
                    </div>

                <div><br/></div>
				
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
							<form action="__CONTROLLER__/del_video" method="post">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
									
                                        <tr>
                                        <thead>
											<th class="center">
												<label>
																
												<input type="submit" onclick="return confirm('你确认删除吗')" value="删除" class="btn btn-primary btn-xs">
												</label>
											</th>
                                            <th>视频编号</th>
                                            <th>视频名称</th>
											 <th>讲师名字</th>
                                            <th>
                                                视频封页图片
                                            </th>
											<th>
                                                视频价格
                                            </th>
                                            <th>
												视频点击量
                                            </th>
											<th>
												操作
                                            </th>
                                        </tr>
                                    </thead>
                                    <assign name = "num" value="1"/>
                                    <foreach name='videos' item='video'>
									<tbody> 
										<tr>
											<td class="center">
												<label>
													<input type="checkbox" name="id[]" value="{$video.id}" class="ace" />
													<span class="lbl"></span>
												</label>
											</td>
                                            <td>
                                                {$num++}
                                            </td>
                                            <td>{$video.title}</td>
                                            <td>{$video.tname}</td>
                                         
                                            <td class="hidden-480">
											
												<img src="__PUBLIC__/Upload/{$video.video}" width="40" height="40">
											</td>
											 <td>{$video.price}</td>
											 <td>{$video.number}</td>
											 
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                 
                                                    <a onclick=" return confirm('你确定删除吗？')" href='__CONTROLLER__/del_video/id/{$video.id}'>
                                                        删除 
                                                    </a>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110">查询</i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/mod/id/{video.id}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/del/id/{video.id}" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        
                                        </tr>
										
                                    </foreach>
                                   
                                    </tbody>
                                </table>
								</form>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->

                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="hr hr-18 dotted hr-double"></div>
            </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</block>
