<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>玩转 C语言 基础课堂 - 网易云课堂</title>
<meta name="keywords" content="云课堂">
<meta name="description" content="云课堂">
<script src="./ga.js" async type="text/javascript"></script>
<script src="SpryAssets/SpryDOMUtils.js" type="text/javascript"></script>
<script src="玩转 C语言 基础课堂 - 网易云课堂.js" type="text/javascript"></script>
<link href="./core.css" type="text/css" rel="stylesheet">
<link href="./pt_pages_course_courseLearn.css" type="text/css" rel="stylesheet">
<link href="./course_play.css" type="text/css" rel="stylesheet">
</head>
<body class="auto-1449926955287-parent">
<div class="coursebox f-cb" id="j-coursebox">
  <div class="m-courselb">
    <div class="cl-bg"></div>
    <div class="cl-logo"></div>
    <a href="http://study.163.com/course/courseMain.htm?courseId=334013" hidefocus="true" id="j-back" class="cl-back">返回课程主页</a>
    <div id="course-learn-box" class="course-learn">
      <div class="m-courselearn">
        <p class="cl-title f-thide j-clTitle"> <span class="cl-chapter j-chapter">章节1</span> <span  id="cl-center" class="cl-lesson j-lessonIndex">课时</span> <span id="cl-center" class="cl-lessonnum j-lessonnum">1</span> <span id="cl-center" class="cl-lessonname j-lessonname">走近点儿认识你</span> </p>
		
	<!--Flash Player插件播放器-->
	<script src="Scripts/swfobject_modified.js" type="text/javascript"></script>
	<div id="ic-flash">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="733" height="451" id="FLVPlayer">
		<param name="movie" value="FLVPlayer_Progressive.swf" />
		<param name="quality" value="high">
		<param name="wmode" value="opaque">
		<param name="scale" value="noscale">
		<param name="salign" value="lt">
		<param name="FlashVars" value="&amp;MM_ComponentVersion=1&amp;skinName=Corona_Skin_3&amp;streamName=1&amp;autoPlay=true&amp;autoRewind=false" />
		<param name="swfversion" value="8,0,0,0">
		<!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
		<param name="expressinstall" value="Scripts/expressInstall.swf">
		<!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
		<!--[if !IE]>-->
		<object type="application/x-shockwave-flash" data="FLVPlayer_Progressive.swf" width="900" height="650" ">
		<!--<![endif]-->
		<param name="quality" value="high">
		<param name="wmode" value="opaque">
		<param name="scale" value="noscale">
		<param name="salign" value="lt">
		<param name="FlashVars" value="&amp;MM_ComponentVersion=1&amp;skinName=Corona_Skin_3&amp;streamName=1&amp;autoPlay=true&amp;autoRewind=false" />
		<param name="swfversion" value="8,0,0,0">
		<param name="expressinstall" value="Scripts/expressInstall.swf">
		<!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
		<div>
		<h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
		<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" /></a></p>
		</div>
		<!--[if !IE]>-->
		</object>
		<!--<![endif]-->
		</object>
	</div>
	<script type="text/javascript">
	swfobject.registerObject("FLVPlayer");
	</script>

		
		
	</div>
      </div>
    </div>
</div>
  <div id="j-hideRightBtn" class="u-hiderightbtn" title="隐藏课程目录"></div>
  <form action="/pay/order.htm" method="post" id="j-payForm" target="_blank">
    <input value="334013" name="id" type="hidden">
    <input value="449238" name="lid" id="j-payLid" type="hidden">
  </form>
</div>
<div id="course-toolbar-box" class="g-sd2">
  <div class="m-ctb">
    <div class="courseintro">
      <div class="f-fl courseTitle j-courseintro">
        <div class="u-coursetitle f-fl"> <a href="http://study.163.com/course/courseMain.htm?courseId=334013" target="_blank" class="j-info f-thide">玩转 C语言 基础课堂</a>
          <div class="f-cb"> <span class="j-info starall">
            <div class="u-rating">
              <div class="star on"></div>
              <div class="star on"></div>
              <div class="star on"></div>
              <div class="star on"></div>
              <div class="star half"></div>
            <span class="j-tip"></span></div>
          </span> <span class="cmt j-cmt">(875份评价)</span> </div>
          <p class="j-info f-thide">发布者：Fenby</p>
        </div>
      </div>
      <a href="http://study.163.com/course/introduction/334013.htm" class="j-courseimg-link courseImgCover" target="_blank">
      <div class="courseImg-link"></div>
      <img src="./imgs/4859383998032773336.jpeg" class="f-fr courseImg j-courseimg"> </a> </div>
    <div class="tabs j-tab-tabwrap"> <a id="auto-id-1449926955364" class="tabitem j-tab-tabitem tab-forum tabitem-pos" style=""> <span class="f-fl tabicon tabicon-pos0"></span> <span class="f-fl">讨论</span> </a> <a id="auto-id-1449926955366" class="tabitem j-tab-tabitem tab-talk" style="display:none;"> <span class="f-fl tabicon tabicon-1"></span> <span class="f-fl">说说</span> </a> <a id="auto-id-1449926955368" class="tabitem j-tab-tabitem"> <span class="f-fl tabicon tabicon-2"></span> <span class="f-fl">目录</span> </a> <a id="auto-id-1449926955370" class="tabitem j-tab-tabitem"> <span class="f-fl tabicon tabicon-3"></span> <span class="f-fl">笔记</span> </a> <a id="auto-id-1449926955372" class="tabitem j-tab-tabitem" style="display:none;"> <span class="f-fl tabicon tabicon-4"></span> <span class="f-fl">问答</span> </a> </div>
    <div id="toolbar-box" class="tabarea j-tabarea">
      <div style="display: block;" class="tabbox j-tabbox" id="forum-tabbox">
        <div class="m-toolbarForum">
          <div class="edit f-cb">
            <div class="j-forumSel forumSel">
              <div class="u-select">
                <div id="auto-id-1449926955424" class="up j-up f-thide">综合讨论区</div>
                <div style="display: none;" class="down f-bg j-list">
                  <div id="auto-id-1449926955420" class="f-thide list" title="老师答疑区">老师答疑区</div>
                  <div id="auto-id-1449926955422" class="f-thide list" title="综合讨论区">综合讨论区</div>
                </div>
              </div>
            </div>
            <div class="j-ipt">
              <div class="u-cmtwrp">
                <div class="u-cmtedtip2">
                  <div class="f-fs0 s-fc2 j-ic f-fl" style="display:none">
                    <div>还可以输入<b class="s-fc1">100</b>字</div>
                  </div>
                </div>
                <div class="u-cmtedit f-cb" style="z-index:102;">
                  <div class="wrap f-cb">
                    <textarea id="auto-id-1449926955387" name="notetxt" class="j-ic mtxt"></textarea>
                  </div>
                  <label id="auto-id-1449926955391" class="j-ic hint" for="notetxt">欢迎分享，鼓励原创，无论是你的学习体验、想法、工作生活经验，还是好书、好文章、好资源，都可发在这里。</label>
                </div>
              </div>
            </div>
            <a id="auto-id-1449926955341" class="j-post postBtn f-fr"> <span>发起讨论</span> </a> </div>
          <div class="posts f-af">
            <div id="auto-id-1449926955514" class="j-list list">
              <ul class="m-posts">
                <li id="auto-id-1449926955435" class="u-forumli j-forumli" data-link="/forum/detail/966010.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1449885318642" target="_blank"> <img class="img" src="./imgs/6619444828282631622.jpg" alt="刺客"> </a> <span id="auto-id-1449926955437" class="j-userName" data-id="12288930"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1449885318642" target="_blank" title="刺客">刺客</a> </span> <span id="auto-id-1449926955434" class="time s-fc5 j-postTime" data-time="1449891643938">11:40</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">用啥做练习啊</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955439" class="u-forumli j-forumli" data-link="/forum/detail/953014.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448724770544" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="JXXYAN"> </a> <span id="auto-id-1449926955441" class="j-userName" data-id="11898535"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448724770544" target="_blank" title="JXXYAN">JXXYAN</a> </span> <span id="auto-id-1449926955438" class="time s-fc5 j-postTime" data-time="1449815381131">12月11日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">为什么后面跟了一个i++</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955443" class="u-forumli j-forumli" data-link="/forum/detail/949021.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1443927296299" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="徐万恩"> </a> <span id="auto-id-1449926955445" class="j-userName" data-id="10656907"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1443927296299" target="_blank" title="徐万恩">徐万恩</a> </span> <span id="auto-id-1449926955442" class="time s-fc5 j-postTime" data-time="1449754765021">12月10日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">语速有些过快，但是整体来说认识一下C语言还是不错的</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955447" class="u-forumli j-forumli" data-link="/forum/detail/943003.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448165240734" target="_blank"> <img class="img" src="./imgs/6630204649072910238.jpg" alt="Loeweykt1448165240733"> </a> <span id="auto-id-1449926955449" class="j-userName" data-id="11746331"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448165240734" target="_blank" title="Loeweykt1448165240733">Loeweykt1448165240733</a> </span> <span id="auto-id-1449926955446" class="time s-fc5 j-postTime" data-time="1449719850534">12月10日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">初学者，可以对C语言有个认识。还是比较有益处。</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955451" class="u-forumli j-forumli" data-link="/forum/detail/936021.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank"> <img class="img" src="./imgs/6631314056305212674.jpg" alt="黑起"> </a> <span id="auto-id-1449926955453" class="j-userName" data-id="11415365"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank" title="黑起">黑起</a> </span> <span id="auto-id-1449926955450" class="time s-fc5 j-postTime" data-time="1449671232514">12月9日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">22课时没有字幕了啊，这位萌萌的display君顿时不萌了</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955455" class="u-forumli j-forumli" data-link="/forum/detail/937016.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448118912807" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="百白柏"> </a> <span id="auto-id-1449926955457" class="j-userName" data-id="11740580"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448118912807" target="_blank" title="百白柏">百白柏</a> </span> <span id="auto-id-1449926955454" class="time s-fc5 j-postTime" data-time="1449667356404">12月9日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">为什么我有点看不懂！！！</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955459" class="u-forumli j-forumli" data-link="/forum/detail/929020.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank"> <img class="img" src="./imgs/6631314056305212674.jpg" alt="黑起"> </a> <span id="auto-id-1449926955461" class="j-userName" data-id="11415365"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank" title="黑起">黑起</a> </span> <span id="auto-id-1449926955458" class="time s-fc5 j-postTime" data-time="1449624600437">12月9日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">不不不，这个语速恰到好处。表示看了物语系列，这个速度不算什么哈哈哈</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955463" class="u-forumli j-forumli" data-link="/forum/detail/927019.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank"> <img class="img" src="./imgs/6631314056305212674.jpg" alt="黑起"> </a> <span id="auto-id-1449926955465" class="j-userName" data-id="11415365"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1446873434534" target="_blank" title="黑起">黑起</a> </span> <span id="auto-id-1449926955462" class="time s-fc5 j-postTime" data-time="1449623483823">12月9日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">switch中default&nbsp;&nbsp;后面什么时候要加break&nbsp;呢</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955467" class="u-forumli j-forumli" data-link="/forum/detail/918127.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448374214090" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="山水之间5566"> </a> <span id="auto-id-1449926955469" class="j-userName" data-id="11814368"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448374214090" target="_blank" title="山水之间5566">山水之间5566</a> </span> <span id="auto-id-1449926955466" class="time s-fc5 j-postTime" data-time="1449472252875">12月7日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">语速过快,慢点就好了</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955471" class="u-forumli j-forumli" data-link="/forum/detail/920092.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1445949799312" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="丶半夜"> </a> <span id="auto-id-1449926955473" class="j-userName" data-id="11199229"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1445949799312" target="_blank" title="丶半夜">丶半夜</a> </span> <span id="auto-id-1449926955470" class="time s-fc5 j-postTime" data-time="1449417616140">12月7日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">char&nbsp;array是什么意思i？</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（1）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955475" class="u-forumli j-forumli" data-link="/forum/detail/918070.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1449046513818" target="_blank"> <img class="img" src="./imgs/1395271459654721966.jpg" alt="用户3907887917"> </a> <span id="auto-id-1449926955477" class="j-userName" data-id="12008636"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1449046513818" target="_blank" title="用户3907887917">用户3907887917</a> </span> <span id="auto-id-1449926955474" class="time s-fc5 j-postTime" data-time="1449381236772">12月6日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">第三课时中printf("%d",c)是什么意思</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（1）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955479" class="u-forumli j-forumli" data-link="/forum/detail/921068.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1449370384320" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="zmh194250"> </a> <span id="auto-id-1449926955481" class="j-userName" data-id="12102712"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1449370384320" target="_blank" title="zmh194250">zmh194250</a> </span> <span id="auto-id-1449926955478" class="time s-fc5 j-postTime" data-time="1449372439920">12月6日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">视频里用的是什么编译器啊</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955483" class="u-forumli j-forumli" data-link="/forum/detail/921033.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/1909329556" target="_blank"> <img class="img" src="./imgs/2858659863574071009.jpg" alt="清河伯子"> </a> <span id="auto-id-1449926955485" class="j-userName" data-id="8010130"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/1909329556" target="_blank" title="清河伯子">清河伯子</a> </span> <span id="auto-id-1449926955482" class="time s-fc5 j-postTime" data-time="1449310501770">12月5日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">第四课时里1分13秒处的“print”是什么意思，是否应该用“printf”</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955487" class="u-forumli j-forumli" data-link="/forum/detail/910059.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/5301880687" target="_blank"> <img class="img" src="./imgs/6619453624375505315.jpg" alt="包包不是包"> </a> <span id="auto-id-1449926955489" class="j-userName" data-id="2747854"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/5301880687" target="_blank" title="包包不是包">包包不是包</a> </span> <span id="auto-id-1449926955486" class="time s-fc5 j-postTime" data-time="1449228610793">12月4日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">适合初中生入门看。</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955491" class="u-forumli j-forumli" data-link="/forum/detail/911026.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448453584822" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="2473310079"> </a> <span id="auto-id-1449926955493" class="j-userName" data-id="11828790"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448453584822" target="_blank" title="2473310079">2473310079</a> </span> <span id="auto-id-1449926955490" class="time s-fc5 j-postTime" data-time="1449189214691">12月4日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">"%d"表示啥</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（1）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955495" class="u-forumli j-forumli" data-link="/forum/detail/905004.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1432168300136" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="小田一号"> </a> <span id="auto-id-1449926955497" class="j-userName" data-id="6386247"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1432168300136" target="_blank" title="小田一号">小田一号</a> </span> <span id="auto-id-1449926955494" class="time s-fc5 j-postTime" data-time="1449032750987">12月2日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">章节10课时53的0分43时左上角的橙色单词“song1”写成了“snog1”</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955499" class="u-forumli j-forumli" data-link="/forum/detail/877122.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1447120657747" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="秋夜细雨"> </a> <span id="auto-id-1449926955501" class="j-userName" data-id="11485387"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1447120657747" target="_blank" title="秋夜细雨">秋夜细雨</a> </span> <span id="auto-id-1449926955498" class="time s-fc5 j-postTime" data-time="1448815778060">11月30日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">感觉课程简单易懂。。。在讲的稍微详细一点慢一点就更好了。。。</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955503" class="u-forumli j-forumli" data-link="/forum/detail/878109.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/408887247" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="茜锁"> </a> <span id="auto-id-1449926955505" class="j-userName" data-id="4484610"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/408887247" target="_blank" title="茜锁">茜锁</a> </span> <span id="auto-id-1449926955502" class="time s-fc5 j-postTime" data-time="1448796917621">11月29日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">很好很好</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955507" class="u-forumli j-forumli" data-link="/forum/detail/876079.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1448292563882" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="m17876253404"> </a> <span id="auto-id-1449926955509" class="j-userName" data-id="11786467"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1448292563882" target="_blank" title="m17876253404">m17876253404</a> </span> <span id="auto-id-1449926955506" class="time s-fc5 j-postTime" data-time="1448728303251">11月29日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">挺不错&nbsp;浅显易懂</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
                <li id="auto-id-1449926955511" class="u-forumli j-forumli" data-link="/forum/detail/864049.htm" data-forumid="4000">
                  <div class="forumi">
                    <div class="f-cb">
                      <div class="head"> <a class="j-userLink" href="http://study.163.com/u/ykt1442397381888" target="_blank"> <img class="img" src="./imgs/big.jpg" alt="marking121212"> </a> <span id="auto-id-1449926955513" class="j-userName" data-id="9734912"> <a class="u-forumname f-ib f-thide j-userLink" href="http://study.163.com/u/ykt1442397381888" target="_blank" title="marking121212">marking121212</a> </span> <span id="auto-id-1449926955510" class="time s-fc5 j-postTime" data-time="1448359344535">11月24日</span> <span class="panel f-fr s-fc5">【综合讨论区】</span> </div>
                    </div>
                    <div class="f-cb cnt"> <span class="j-manInfo u-manInfo"> <span class="u-forumtag" style="display:none;">老师参与</span> <span class="u-forumtag u-forumtag1" style="display:none;">置顶</span> <span class="u-forumtag u-forumtag2" style="display:none;">精华</span> </span> <span class="s-fc5 post">念稿子的老师口音好重。</span> </div>
                    <div class="f-cb">
                      <div class="f-cb f-fl"> <span class="s-fc2 num num1">（0）</span> <span class="s-fc2 num num2">（0）</span> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="j-pager pager ui-pager auto-1449926955160-parent" style="">
              <div class="auto-1449926955160"><a id="auto-id-1449926955395" class="zbtn zprv js-disabled" href="#">上一页</a><a id="auto-id-1449926955401" class="zpgi zpg1 js-selected" href="#">1</a><a style="" id="auto-id-1449926955403" class="zpgi zpg2" href="#">2</a><a style="" id="auto-id-1449926955405" class="zpgi zpg3" href="#">3</a><a style="" id="auto-id-1449926955407" class="zpgi zpg4" href="#">4</a><a style="" id="auto-id-1449926955409" class="zpgi zpg5" href="#">5</a><a style="" id="auto-id-1449926955411" class="zpgi zpg6" href="#">6</a><a style="" id="auto-id-1449926955413" class="zpgi zpg7" href="#">7</a><span class="zdot">...</span><a style="" id="auto-id-1449926955415" class="zpgi zpg8" href="#">23</a><a id="auto-id-1449926955397" class="zbtn znxt" href="#">下一页</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabbox j-tabbox" id="talk-tabbox"> </div>
      <div class="tabbox j-tabbox" id="chapterList-tabbox">
        <div class="bd j-bd"></div>
      </div>
      <div class="tabbox j-tabbox" id="note-tabbox"> </div>
      <div class="tabbox asktabbox j-tabbox" id="ask-tabbox"> </div>
    </div>
  </div>
</div>
<div class="f-dn">
  <div class="g-ft">
    <div class="m-yktFoot" id="j-yktfoot">
      <div class="g-flow ftwrapper f-cb">
        <div class="f-fl ftlf">
          <div class="logo"></div>
          <p class="txt f-fs0"> 网易公司(163.com)旗下实用技能学习平台。与顶级机构、院校和优秀讲师合作，为您提供海量优质课程，以及创新的在线学习体验，帮助您获得全新的个人发展和能力提升。</p>
          <div class="share f-cb">
            <p class="tit">关注我们：</p>
            <a href="http://weibo.com/study163" class="weibo" target="_blank" data-index="关注我们_微博"></a> <a href="http://page.renren.com/601660242" class="renren" target="_blank" data-index="关注我们_人人"></a> <a href="javascript:void(0)" class="yixin f-pr" data-index="关注我们_易信">
            <div class="tipQrcode f-pa">
              <div class="qrImag"> <img src="./imgs/yixin.png" alt="加云课堂易信好友" width="120px" height="120px"> </div>
              <p class="qrTitle">易信号：study163</p>
              <div class="tip f-pa"></div>
            </div>
            </a> <a href="javascript:void(0)" class="weixin f-pr" data-index="关注我们_微信">
            <div class="tipQrcode f-pa">
              <div class="qrImag"> <img src="./imgs/weixin.png" alt="加云课堂微信好友" width="120px" height="120px"> </div>
              <p class="qrTitle">微信号：study163</p>
              <div class="tip f-pa"></div>
            </div>
            </a> </div>
          <div class="copy">©<span>1997-2015</span> 网易公司 版权所有</div>
        </div>
        <div class="ftrt f-fr"> <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=1" target="_blank" data-index="关于我们">关于我们</a> <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=2" target="_blank" data-index="联系我们">联系我们</a> <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=4" target="_blank" data-index="帮助中心">帮助中心</a> <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=7" target="_blank" data-index="内容招募">内容招募</a> <a href="http://study.163.com/about/aboutus.htm#/about?aboutType=8" target="_blank" data-index="意见反馈">意见反馈</a> <a href="http://www.icourse163.org/" target="_blank" data-index="中国大学MOOC">中国大学MOOC</a>
          <div class="f-cb mobile f-fr">
            <div class="tit f-fl">移动App:</div>
            <a target="_blank" class="mlogo1" href="https://itunes.apple.com/cn/app/wang-yi-yun-ke-tang-for-iphone/id880452926?mt=8"></a> <a target="_blank" class="mlogo2" href="http://study.163.com/pub/study-android-official.apk"></a> </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./imgs/reuglar.js"></script></div>
<script src="./imgs/core.js" type="text/javascript"></script>
<div class="m-side-operation auto-1449926955287" id="j-side-operation">
  <div class="side-service-item"> <a class="item-link-block" data-name="留言" href="http://study.163.com/about/aboutus.htm#/about?aboutType=8" target="_blank"> <i class="side-service-icon feedback-icon"></i> <span class="item-hover-text feedback-text">反馈意见</span> </a> </div>
  <div class="line-wrap">
    <div class="line"></div>
  </div>
  <div class="side-service-item "> <a class="item-link-block app-download" data-name="手机课堂" href="javascript:void(0)"> <i class="side-service-icon phone-icon"></i> <span class="item-hover-text">手机课堂</span>
    <div class="qrcode-bubble">
      <div class="qrcode">
        <div class="download"><img src="./imgs/sideBar90.png">
          <p>下载App</p>
        </div>
        <div class="follow-weixin"><img src="./imgs/weixin.png">
          <p>关注微信</p>
        </div>
      </div>
      <div class="arrow">
        <div class="arrow-border"></div>
        <div class="arrow-cnt"></div>
      </div>
    </div>
    </a> </div>
  <div class="line-wrap">
    <div class="line"></div>
  </div>
  <div class="side-service-item "> <a id="auto-id-1449926955298" class="item-link-block side-service-top" data-name="回到顶部" href="javascript:void(0)"> <i class="side-service-icon top-icon"></i> <span class="item-hover-text scrtop-text">返回顶部</span> </a> </div>
</div>
<div></div>
<div>
  <div id="loadingMask" class="loading-mask" style="z-index: 10001; display: none;"></div>
  <div id="loadingPb" class="ui-loading f-cb" style="z-index: 10002; display: none;"></div>
</div>
</body>
</html>
<!-- 引用src目录下的模板文件,这样做的目的,是因为打包工具只能找到src目录下的template文件  -->