html,body{height:100%;}

.g-doc{/*background:#8cc6e9;*/ background: #39a6ec;}
.g-bd{padding:0;}
.g-ft{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.g-hd .loginAdvMsg{float:none;line-height:55px;margin-left:1em;font-size:16px;}
.m-tab-small{ position:relative; left:100%; margin-left:-390px; margin-bottom:30px;}
.u-ipt,.u-ipt label{width:332px;}
.m-ipt .u-ipt{margin-right:0;}
.m-ipt{margin-bottom:20px;}
.u-btn2{width:346px; margin-left:2px;}

.loginLinks{text-align:center;color:#cecece;}
.loginLinks a{margin:0 0.5em;}

.ftnList{padding:50px 0;background:#FFF;-webkit-box-shadow:0 -3px 3px rgba(0,0,0,0.06);-moz-box-shadow:0 -3px 3px rgba(0,0,0,0.06);box-shadow:0 -3px 3px rgba(0,0,0,0.06);}
.ftnList li{float:left;margin-right:7px;}
.ftnList a:hover span{ color:#ee8c18;}

.ftnList .u-tips2 em{margin-right:5px;_margin-right:-8px;}
.ftnList .u-tips2 span{font-size:20px;line-height:1.2em;}
.ftnList .u-tips2 span i{color:#b9b9b9;font-size:12px;}

.u-tips2-ftn0 em{background-position:0 -150px;}
.u-tips2-ftn1 em{background-position:-60px -150px;}
.u-tips2-ftn2 em{background-position:-120px -150px;}
.u-tips2-ftn3 em{background-position:-180px -150px;}
.u-tips2-ftn4 em{background-position:-240px -150px;}

.m-tab-small{width:390px;}
.m-tab-small .tabHd li{width:194px;}
.m-tab-small .tabHd li.z-on a{border:none;padding-top:3px;}
.m-tab-small .tabBd{padding:0 20px 30px 20px; height:310px;}
.m-tab-small .tabHd li .ieAlpha{width:194px\9;}
.m-tab-small .tabBd .ieAlpha{width:390px\9;height:2000px\9;}

#fLogin .u-tips{height:36px;line-height:36px;font-size:0;_font-size:26px;}
#fLogin .u-tips span{width:325px;}

#qrBox{position:relative; padding:16px 0 0 0;}
#qrBox .u-tips a{_vertical-align:middle;}
#qrBox .qrMsg{height:54px;line-height:54px;/*padding-left:81px;*/text-align:center;overflow:hidden;color:#000;font-size:14px;}
#qrBox .qrMsg strong{color:#406eba;font-weight:normal;}
#qrBox .qrMsg a{ font-weight:bold;}
#qrBox .loginHelp{width:24px; height:24px; background:url(/images2/loginHelp.png) no-repeat center center; /*position:absolute; top:30px;*/vertical-align: middle;}

#qrBox .u-tips4{ margin-left:81px;}
#qrBox .u-tips4 span{font-size:12px; color:#000;}
#qrBox .u-tips4 span strong{ font-size:14px;}

#loginQrCodeContainer{position:relative;display:block;width:188px;height:188px;margin:0 auto;/*padding:12px 0;*/}
#loginQrCodeContainer img,#loginQrCodeContainer .loginQrCodeCover{width:188px;height:188px;}
#loginQrCodeContainer .loginQrCodeCover{ position:absolute; /*top:12px;*/ top:0; left:0; filter:alpha(opacity=90); opacity:.9; background:#FFF;}
#loginQrCodeContainer .loginQrCodeInfor{position:absolute; /*top:12px;*/ top:0; left:0; width:188px; margin-top:50px;}
#loginQrCodeContainer .loginQrCodeInfor p{ text-align:center; font-size:12px; line-height:1.7em; margin-bottom:20px;}
#loginQrCodeContainer .loginQrCodeInfor p strong{ font-size:14px;}
#loginQrCodeContainer .loginQrCodeInfor .u-btn2{width:100px; height:30px; line-height:30px; margin:0 auto; font-size:16px;}

#loginByAccount{margin-bottom:30px;}
#loginByCode{margin-bottom:24px;_margin-bottom:21px;}

#advList a{display:block; width:990px; height:512px; position:absolute; bottom:0; left:0; color:#FFF;}
/*#yxUrsAdv{background:url(/images2/yxurs/loginBg.jpg) no-repeat 0 bottom;}*/
/*#yxUrsAdv2{background:url(/images2/yxurs/loginBg2.jpg) no-repeat 0 bottom;}*/
#advListCtl{width:72px; height:36px; position:absolute; bottom:0; right:0;}
#advListCtl span{ display:block; float:left; width:36px; height:36px; line-height:36px; text-align:center; font-size:24px; background:url(/images2/icon2.png) no-repeat 9999px 9999px;}
#advListCtl .leftCtl{ background-position:0 0;}
#advListCtl .rightCtl{ background-position:-36px 0;}
#advListCtl .leftCtl:hover{ background-position:0 -36px;}
#advListCtl .rightCtl:hover{ background-position:-36px -36px;}

#autoCompleteList{width:344px;}

#checkAlert{height:54px;overflow:hidden;}
#checkAlert .u-tips span{ width:310px; overflow:hidden;}
#nu{
	float:left;
	margin-top:-34px;
	margin-left:215px;
	font-size:16px;
}
#pwd{
	float:left;
	margin-top:-33px;
	margin-left:215px;
	font-size:16px;
	color:red;
}
.u-new{position:absolute; top:18px; right:14px;}
.ftnList li .u-new{ top:5px; right:-11px;}

/* 新手指引 */
#learnerTipCover{position:fixed; _position:absolute; width:100%; height:100%; top:0; left:0; background:#636363; opacity:0; filter:alpha(opacity=0); display:none;}
#learnerTip{ position:absolute; width:342px; height:528px; display:none; top:0; left:0;}
#learnerTipLists{ position:relative; width:100%; height:478px;}
#learnerTipLists li{ position:absolute; width:100%; height:478px; z-index:1; display:none;}
#learnerTipLists li.active{z-index:2; display:block;}
#learnerTipLists li.oldActive{z-index:3; display:block;}
#learnerTipLists li{ background-repeat:no-repeat; background-position:0 0;}
#learnerTipItem1{ background-image:url("/images2/guide/1.png"); _background-image:url("/images2/guide/1.gif");}
#learnerTipItem2{ background-image:url("/images2/guide/2.png"); _background-image:url("/images2/guide/2.gif");}
#learnerTipItem3{ background-image:url("/images2/guide/3.png"); _background-image:url("/images2/guide/3.gif");}
#learnerTipMarks{ width:100%; height:50px; margin-left:180px;}
#learnerTipMarks li{ display:inline-block; *display:inline; *zoom:1; width:12px; height:12px; margin:15px 5px;  overflow:hidden; background:#C0C0C0; border-radius:6px; background:url("/images2/guide/guideMark.png")\9; background-position:-12px 0\9;}
#learnerTipMarks li.active{ background:#FFF; background:url("/images2/guide/guideMark.png")\9; background-position:0 0\9;}
#codeTrigger{ position:absolute; background:red; opacity:0; filter:alpha(opacity=0);}
