<extend name="Public:layout" />
<block name="main-content">
<div id="person-outer-box">
  <div class="m-personcenter">
    <div class="m-orgcentertop f-pr">
      <div class="j-headInfo headInfo">
        <div class="m-uinfo j-uinfo infobg">
          <div class="g-flow f-cb f-pr"> <a id="auto-id-1450352531655" title="刺客ykt1450352485246" class="f-fl face j-userurl"> <img src="__PUBLIC__/Upload/{$users.pic}" class="j-userface" width="60px" height="60px"> </a>
            <div class="f-fl f-pr introarea">
              <div class="baseInfo f-pr">
                <div class="f-cb"> <a id="auto-id-1450352531656" class="f-fl j-nickinfo nickinfo"> <span class="username f-fl j-nickname">{$per.username}</span> <span style="display: none;" class="usersex j-usersex f-fl"></span> </a> </div>
                <p class="infoline j-userinfo"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="j-content-box">
      <div id="person-inner-box" class="f-cb j-modle-box">
        <div class="m-personCourse g-flow f-pr f-cb">
          <div id="person-course-box" class="personCourse">
            <div class="g-mn2">
              <div class="g-mn2c f-bg j-coursewrapper">
                <div class="j-tabs courseTabs"> <a id="auto-id-1450352531621" class="f-ib f-pa tab1 cur">参加的课程</div>
                <!--<div class="j-pubDir pubDir f-dn"> <a class="plan">计划</a>-<a class="course">课程</a> </div>-->
                <div style="display: none;" class="j-all-box m-person-course auto-1450352531460-parent">
                  <div class="m-basepool f-cb auto-1450352531460">
                    <div class="m-data-lists f-cb f-pr j-data-list"></div>
                    <div style="display: none;" class="ui-pager f-pr j-data-pager auto-1450352531459-parent">
                      <div class="auto-1450352531459"><a id="auto-id-1450352531629" class="zbtn zprv js-disabled" href="#">上一页</a><a id="auto-id-1450352531635" class="zpgi zpg1 js-selected" href="#">1</a><a style="display: none;" id="auto-id-1450352531637" class="zpgi zpg2" href="#"></a><a style="display: none;" id="auto-id-1450352531639" class="zpgi zpg3" href="#"></a><a style="display: none;" id="auto-id-1450352531641" class="zpgi zpg4" href="#"></a><a style="display: none;" id="auto-id-1450352531643" class="zpgi zpg5" href="#"></a><a style="display: none;" id="auto-id-1450352531645" class="zpgi zpg6" href="#"></a><a style="display: none;" id="auto-id-1450352531647" class="zpgi zpg7" href="#"></a><a style="display: none;" id="auto-id-1450352531649" class="zpgi zpg8" href="#"></a><a id="auto-id-1450352531631" class="zbtn znxt js-disabled" href="#">下一页</a></div>
                    </div>
                  </div>
                </div>
                <div style="" class="j-none u-emptybig">
                  <div class="emptytext"><img src="__PUBLIC__/Home/imgs/per.png">
                    <p class="j-eTxt">暂时还没有参加的课程或计划哦~</p>
                    <a id="auto-id-1450352531623" class="j-find">发现课程和计划</a> </div>
                </div>
                <div class="u-noauth f-bg j-noauth" style="display:none">对不起，该用户设置了隐私，你没有权限查看该项内容！:-(</div>
              </div>
            </div>
            <div class="g-sd2 f-bg">
              <div class="m-center-side">
                <div class="top">
                  <div class="f-fl">个人介绍</div>
                  <a class="f-fr" href="__CONTROLLER__/personal">更多</a> </div>
                <div class="bottom">
                  <div style="display: none;" class="cnt j-cnt"></div>
                  <div class="j-nocnt" style="">
                    <div class="u-empty">
                      <p class="j-eTxt">{$per.description}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</block>