<extend name="Public:layout"/>
<block name="main-content">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="__APP__">后台主页</a>
                </li>

                <li>
                    <a href="#">合作机构管理</a>
                </li>
                <li class="active">合作机构列表</li>
            </ul><!-- .breadcrumb -->

        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    合作机构管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        合作机构列表
                    </small>
                </h1>
            </div><!-- /.page-header -->

                <form action='__CONTROLLER__/index' method="get">
                    <div class="seachform">
                        合作机构名称: <input name="name" type="text" placeholder="请输入机构名称" class="scinput" />
                        &nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary btn-xs"  value="查询"/>
                    </div>
                </form>
                <div><br/></div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
							<form action="__CONTROLLER__/del">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
											<th class="center">
												<label>			
												<input type="submit" onclick="return confirm('你确认要删除吗？')"  value="删除" class="btn btn-primary btn-xs" />
												</label>
											</th>
                                            <th>合作机构编号</th>
                                            <th>合作机构名称</th>
                                            <th>
                                                合作机构地址
                                            </th>
                                            <th>
                                                合作机构描述
                                            </th>
                                            <th>
                                                操作
                                            </th>
                                        </tr>
                                    </thead>

                                    <foreach name='organs' item='organ'>
									<tbody> 
										<tr>
											<td class="center">
												<label>
													<input type="checkbox" name="id[]" value="{$organ.id}" class="ace" />
													<span class="lbl"></span>
												</label>
											</td>
                                            <td>
                                                {$num++}
                                            </td>
                                            <td>{$organ.name}</td>
                                         
                                            <td class="hidden-480">{$organ.url}</td>
                                            <td class="hidden-480">{$organ.description}</td>
            
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                    <a  href='__CONTROLLER__/mod/id/{$organ.id}'>
                                                        修改 |
                                                    </a>

                                                    <a href='__CONTROLLER__/del/id/{$organ.id}'>
                                                        删除 
                                                    </a>

                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/mod/id/{organ.id}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="__CONTROLLER__/del/id/{organ.id}" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
									<tr>
										<td colspan="6">{$page}</td>
									</tr>
                                    </form>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div><!-- /row -->

                    <div class="hr hr-18 dotted hr-double"></div>
                    <div class="hr hr-18 dotted hr-double"></div>
            </div>
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</block>
